# === GO BACKEND ===
# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out

# Go workspace and build files
/build/
/bin/
/dist/

# Go module caches
/go.sum

# IDE/tools
.idea/
.vscode/
*.swp

# Dependency directories (if using vendoring)
vendor/

# === NODE FRONTEND ===
# Dependency directories
**/node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

#databases
*.db

# Build output
/dist/
/build/
/out/

# Static files
*.log
*.env
.env.*

# Cache files
.cache/
.next/
.nuxt/
.svelte-kit/
*.tsbuildinfo

# OS Files
.DS_Store
Thumbs.db

# === COMMON ===
# Backup files
*.bak
*.tmp
*.temp
*~

# IDEs/editors
*.sublime*
*.code-workspace
*.vs*
